.maskEl {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* border: 1px solid red; */
  transition-property: opacity;
  transition-duration: 0s, 0.1s;
  transition-timing-function: ease, ease;
  transition-delay: 0s;
}
.mask_box {
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200vw;
  height: 200vw;
  pointer-events: none;
}

@keyframes scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(250);
  }
  100% {
    transform: scale(500);
  }
}

.btn {
  @apply text-base-1 shadow-lg transition-colors;
  @apply h-8 rounded-md px-2 font-normal;
  @apply bg-skin-500 outline-skin-700  dark:bg-skin-600 dark:outline-skin-700;

  @apply ring-skin-600 ring-offset-1 hover:ring-2 dark:ring-skin-500 dark:active:ring-skin-500;
  @apply ring-offset-base-light  active:bg-skin-400   dark:ring-offset-base-dark;
  @apply dark:ring-offset-skin-900 dark:active:bg-skin-700;

  @apply disabled:active:bg-skin-300  dark:disabled:active:bg-skin-600;
}
